<!DOCTYPE html>
<html {% if site.offline %}manifest="{{ site.baseurl }}/offline.appcache"{% endif %}>

  {% include head.html %}

  <body class="grad allign-center">

    <div class="iswc-height-space visible-md visible-lg"></div>

    <div class="iswc-wrap allign-left">

      {% include header.html %}

      <div class="iswc-body container-fluid">
        <div class="iswc-body-row row">
          <div class="col-md-8 iswc-wrapper-left">
              <div class="page-main">
                <div class="wrapper">

                  <!------- ads ---------->

                  <!--
                  <div>
                    <img src="{{ site.baseurl }}/images/banquet.png" width="100%">
                  </div>

                  <div style="margin-top:10px">
                    <a href="{{ site.baseurl }}/pages/calls/lightning-talks.html">
                      <img src="{{ site.baseurl }}/images/short-talk.png" width="100%">
                    </a>
                  </div>

                  
                  <div>
                    <a href="{{ site.baseurl }}/pages/program/accepted-posters-demos.html">
                      <img src="{{ site.baseurl }}/images/vote-pd.png" width="100%">
                    </a>
                  </div>

                  <hr/>
                  -->

                  {{ content }}
                  <div class="hidden">
                    <hr/>
                    <section class="iswc-ads">
                      {% include sponsors.html %}
                      <hr/>
                      {% include organizers.html %}
                    </section>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-4 iswc-wrapper-right force-print-no">
				{% include right.html %}
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>

    <div class="iswc-height-space visible-md visible-lg"></div>

  </body>

</html>
